package com.zendesk.scalaflow.sugar

import com.google.cloud.dataflow.sdk.coders.Coder

import com.zendesk.scalaflow.coders._


trait TupleOps {

  [2..22#implicit def tuple1Coder[[#V1#]](implicit [#coder1: Coder[V1]#]): Tuple1Coder[[#V1#]] = {
    new Tuple1Coder[[#V1#]]()
  }
  #
  ]
}

object TupleOps extends TupleOps
